$primary-color: #333;
$secondary-color: #fff;
$bg-color: #f9f9f9;
$primary-text-color:#3d4152;
$secondary-text-color:#02060c99;

$spacing-small: 0.5rem;
$spacing-medium: 1rem;
$spacing-large: 1.5rem;
$container:1140px;

$heading:1rem;
$heading-large:1.1rem;



