@import './variables';
@import './mixins';
.menu_listWrapper{
      @include grid-layout($columns: 5, $gap: 2.5rem);
      .menu__listCard{
            display: flex;
                  align-items: center;
                  justify-content: center;
                  flex-direction: column;
                  box-shadow: rgba(28, 28, 28, 0.08) 0px 2px 8px;
                  border: 1px solid rgb(232, 232, 232);
                  border-radius: 0.8rem;
                  padding: 1.1rem;
          img{
            width: 120px;
            height: 120px;
            border-radius: 50%;
            object-fit: cover;
            object-position: center;
          }   
          .heading{
            font-size: $heading-large;
            font-weight: 600;
            color: $primary-text-color;
            margin-top: 20px;
          }  
      }
}